<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-icon name="call-outline"></ion-icon> 080-139-5024 <br>
  <ion-icon name="mail-outline"></ion-icon> tanakhoniop<ion-icon name="at-outline"></ion-icon>gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> Tnk Num <br>
  <ion-icon name="logo-instagram"></ion-icon> 7guuge_rujdy <br>
  <ion-icon name="logo-tiktok"></ion-icon> znum.tt <br>
  <ion-icon name="logo-discord"></ion-icon> znum_t

</ion-content>
